<app-header [showMenu]="true" title="Contactenos"></app-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <app-custom-input
      autocomplete="name"
      icon="person-outline"
      [control]="form.controls.name"
      type="text"
      label="Nombre Usuario"
    ></app-custom-input>

    <app-custom-input
      autocomplete="email"
      icon="mail-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
    ></app-custom-input>


    <app-custom-input
      autocomplete="telefono"
      icon="call-outline"
      [control]="form.controls.telefono"
      type="tel"
      label="Teléfono"
      placeholder="ingrese 8 digitos"
      prefix="+569"
    ></app-custom-input>


    <app-custom-input
      autocomplete="Mensaje"
      icon="chatbox-ellipses-outline"
      [control]="form.controls.mensaje"
      type="text"
      label="Mensaje"
    ></app-custom-input>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select interface="action-sheet" formControlName="option">
        <ion-select-option *ngFor="let option of options" [value]="option"
          >{{ option }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.get('option').value === '(Otros servicios)'">
      <ion-label>Por favor, especifique:</ion-label>
      <ion-input formControlName="otroRecomendacion" type="text"></ion-input>
    </ion-item>

    <ion-button expand="block" mode="ios" class="submit" type="submit">
      Enviar Formulario
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
