<app-header [showMenu]="true" title="PORTAL INFORMA2"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <h3>Bike Online</h3>
    <div>
      Tu pagina de noticias locales y mundiales del mundo BIKE...
      <p>
        <ion-button fill="clear" href="https://www.bikeonline.cl/blogs/noticias">ver mas</ion-button>
      </p>
    </div>
  </ion-card>

  <ion-card>
    <h3>Ciclismo</h3>
    <div>
      Informandote por todos los medios...
      <p>
        <ion-button fill="clear" href="https://www.esciclismo.com/zonas/Chile/">ver mas</ion-button>
      </p>
    </div>
  </ion-card>

  <ion-card>
    <h3>Conaset informa</h3>
    <div>
      Conaset enfocada en brindarte informacion respecto a las normativas que
      riguen a los ciclistas...
      <p>
        <ion-button fill="clear" href="https://www.conaset.cl/ciclistas-decretos/">ver mas</ion-button>
      </p>
    </div>
  </ion-card>

  <ion-card>
    <h3>¡Bienvenidos a "Transporte Informa"!</h3>
    <div>
      Transporte informa, canal de noticias viales del gobierno de chile, donde
      te informaras de proyectos viales...
      <p>
        <ion-button fill="clear" href="https://www.transporteinforma.cl/">ver mas</ion-button>
      </p>
    </div>
  </ion-card>

  <ion-card>
    <h3>Mutual de Seguridad</h3>
    <div>
      Mutual de Seguridad te ayuda a concientizar respecto a la educacion
      vial...
      <p>
        <ion-button fill="clear"
          href="https://www.mutual.cl/portal/publico/mutual/inicio/home/noticias/educacion-vial-en-chile-avanzar-hacia-un-transporte-sostenible/!ut/p/z0/pU49b8IwEP0rMDCeznwo6moFKTQqQ8USvFSHMcmV6BwcE6C_voYViYXtPb1PNFihERq4psheqE18a7KfUuts9lmoryJfZep7sVnkelmqj-kcSzSvDalhFtb5ukbTUWyA5eCxcvuzJZs2YGBqwQnYhlsHNJD8UYAmiQRngRhI-s6H6KD3fXTCu9bdS_n3dDIajfUS3TViZSnUNLLBy0h85JTvJ-oZwSMgvPdw907Um1e6o9ndLnr8DzM_xnw!/">ver
          mas</ion-button>
      </p>
    </div>
  </ion-card>
</ion-content>