<app-header [showMenu]="true" title="QuienesSomos"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <h2>Bienvenido a Empresaurios Inc</h2>

        <p>Somos una empresa de desarrollo fundada en el año [Año de Fundación]. Nos apasiona la tecnología y estamos comprometidos con la creación de soluciones innovadoras que simplifiquen la vida cotidiana.</p>

        <h3>Nuestra Especialización</h3>

        <p>Nos especializamos en el desarrollo de aplicaciones móviles, utilizando la última tecnología para brindar experiencias digitales únicas y funcionales. Creemos en el poder de la movilidad y la accesibilidad, y es por eso que nos enfocamos en crear aplicaciones que faciliten la vida de las personas.</p>

        <h3>Nuestra Última Creación</h3>

        <p>Este año, nos emociona presentar nuestra última creación: una aplicación móvil diseñada para conectar a la comunidad ciclista local. La aplicación utiliza tecnología de georreferenciación para ayudar a los amantes de las bicicletas a descubrir talleres locales de manera rápida y sencilla.</p>

        <!-- Agrega más secciones según sea necesario -->

        <h3>Únete a Nosotros en esta Aventura</h3>

        <p>Estamos emocionados por el viaje que tenemos por delante y queremos que seas parte de él. Únete a nosotros en esta aventura mientras creamos soluciones tecnológicas que conectan a las comunidades y facilitan la vida diaria.</p>

        <p>Gracias por elegir a Empresaurios Inc. como tu socio en tecnología. ¡Pedalea con nosotros hacia un futuro digital emocionante!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>